@font-face {
    font-family: 'Youth Culture';
    src: url('./../fonts/YouthCulture.otf');
}

* {
    box-sizing: border-box;
    color: white;
    font-family: monospace;
    user-select: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden*/
}

html {
    height: 100%
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: black
}

a {
    text-decoration: none;
    color: white;
    background-color: transparent
}

.title {
    font-family: 'Youth Culture';
    font-size: 10vw;
    top: -4vw;
    left: -3vw;
    position: fixed;
    background-color: transparent
}

.icon {

}

.title-icon {
    margin-left: 50px
}

.top-navigation {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: right;
    padding: 8px 25px 0px;
    font-size: 15px
}

.top-navigation > a {
    margin-left: 20px
}

.homepage-navigation-container {
    padding: 10vh 0px 0px 40px;
    border-right: 1px solid white;
    width: 272px;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 499;
    display: inline-block
}

.mobile-image {
    width: 16vw;
    margin: .5vw;
}

.content-block {
    display: inline-block;
    height: 100%;
    width: 600px;
    vertical-align: top;
    padding: 50px;
    font-size: 15px
}

.project-title-selected {
    background-color: white;
    color: black
}

.content-block-link, .content-block-github {
    color: red;
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline-block
}

.content-block-projects {
    overflow-y: scroll;
    width: 60vw
}

.content-block-projects::-webkit-scrollbar {
    width: 0px
}

.content-block-contact-info {
    margin-top: 10px
}

.content-block-contact-info > a {
    text-decoration: underline
}

iframe {
    width: 800px;
    height: 100%;
    border-style: none;
}

.content-block-resume {
    display: none;
    margin-top: 20px
}

.content-block-contact-view-resume, .content-block-contact-view-resume-mobile {
    font-size: 10px;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    background-color: red;
    padding: 2px 4px;
    cursor: pointer;
}

.content-block-contact-view-resume-mobile {
    margin: 12px 0px 0px;
    display: inline-block
}

iframe::-webkit-scrollbar {
    width: 0px
}

.homepage-navigation-title {
    font-size: 1.5em;
    margin-bottom: 20px
}

.homepage-navigation-link {
    margin-bottom: 30px;
    background-color: transparent;
    z-index: 500;
    font-size: 18px
}

.homepage-navigation-link > a {
    margin-left: 12px;
    position: relative;
    bottom: 20px
}

.homepage-image {
    position: fixed;
    bottom: -525px;
    right: -100px
}

.profile-image {
    position: fixed;
    bottom: 0px;
    left: 5vw;
    width: 50vw;
    z-index: 505;
    /* animation: sat 8s infinite */
}

@keyframes sat {
    0%,100% {filter: blur(0px)}
    50% {filter: blur(.1em)}
}

.gif-overlay {
    position: fixed;
    width: 400px;
    top: 60vh;
    right: -4vw;
}

@keyframes letterSpace {
    0% {letter-spacing: 0px}
    100% {letter-spacing: 10px}
}

.homepage-navigation-link:hover {
    font-weight: bold;
    animation: letterSpace 3s forwards
}

.clock-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right
}

.homepage-circle {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 20px;
    right: 120px;
    background-color: red;
    border-radius: 50%
}

.hidden-bio {
    display: none
}

.content-block-title {
    font-size: 25px;
}


.content-block-description {
    margin: 20px 0px 10px 0px
}

.projects-nav-container {
    padding-left: 0px;
    text-align: center
}

.projects-icon {
    margin-left: 0px
}

.project-titles {
    margin-top: 50px;
    border-top: 1px solid white
}

.project-title {
    padding: 30px 0px;
    border-bottom: 1px solid white
}

.display-mobile-only {
    display: none
}

@media screen and (max-width: 880px){
    .homepage-navigation-container {
        width: 100%;
        border: 0px solid white;
        padding: 10px 80px
        /*for homepage*/
    }
    .homepage-circle {
        display: none
    }
    .title {
        font-size: 80px !important;
        top: -20px
    }
    .top-navigation {
        border-bottom: 0px solid white;
        margin-top: 50px
    }
    .homepage-image {
        width: 550px
    }
    .hidden-bio {
        display: inline-block;
        margin-top: 20px
    }
    .about-container-small {
        padding: 10px 20px
    }
    .title-icon {
        margin-left: 40%;
    }
    .content-block {
        display: none
    }

    .top-navigation {
        margin-top: 50px;
        text-align: center
    }
    .gif-overlay {
        display: none
    }

    /* projects page */
    .content-block-projects {
        position: fixed;
        left: 0px;
        top: 44vh;
        width: 100vw;
        height: 60vh;
        display: inline-block;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0px 20px;
        display: none
    }

    .display-mobile-only {
        display: block
    }

    .content-block-projects-inner-container {
        overflow: scroll;
        height: 70vh;
        text-align: left;
        padding: 10px 15px
    }

    .projects-nav-container {
        height: 15vh;
        padding: 0px
    }
    .mobile-image {
        width: 100%
    }
    .project-titles {
        margin-top: 5px
    }
    .project-title {
        padding: 3px 0px
    }
    .projects-icon {
        margin-left: 0px
    }
}

@media screen and (max-width: 1122px){
    .title {
        font-size: 180px
    }
}