@font-face {
    font-family: 'Youth Culture';
    src: url('./../fonts/YouthCulture.otf');
}

* {
    box-sizing: border-box;
    color: black;
    font-family: monospace;
    user-select: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden*/
}

html {
    height: 100%
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: white
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent
}

.title {
    font-family: monospace;
    font-size: 40px;
    top: 5px;
    margin-left: 8px;
    position: relative;
    background-color: transparent;
    display: inline-block;
    padding: 10px
}

.icon {
    display: none
}

.title-icon {
    margin-left: 50px
}

.top-navigation {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 15px;
    height: 10px
}

.top-navigation-links-container {
    text-align: right;
    padding-right: 15px
}

.top-navigation > div > a {
    margin: 0px 4 0px;
    display: inline-block;
    padding: 0px 4px;
    background-color: white;
    position: relative;
    z-index: 10000
    /* margin-left: 20px; */
    /* display: none */
}

.top-navigation > div > a:hover {
    font-weight: bold
}

.homepage-hello {
    position: absolute;
    top: 43vh;
    text-align: center;
    width: 100vw;
    font-size: 18px;
    animation: slideFadeOut 1s forwards;
    animation-delay: 1s
}

@keyframes slideFadeOut {
    0% {top: 43vh; opacity:1}
    100% {top: 40vh; opacity:0}
}

.homepage-navigation-container {
    padding: 10vh 0px 0px 40px;
    /* border-right: 1px solid black; */
    width: 100vw;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 499;
    display: inline-block
}

.nav-container {
    width: 30vw;
    display: inline-block
}

.mobile-image {
    width: 16vw;
    margin: .5vw;
}

.content-block {
    display: inline-block;
    height: 100%;
    width: 600px;
    vertical-align: top;
    padding: 50px;
    font-size: 15px
}

.project-title-selected, .project-title-selected > span {
    background-color: black;
    color: white
}

.content-block-link, .content-block-github {
    color: red;
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline-block
}

.content-block-projects {
    overflow-y: scroll;
    width: 60vw
}

.content-block-projects::-webkit-scrollbar {
    width: 0px
}

.content-block-contact-info {
    margin-top: 10px
}

.content-block-contact-info > a {
    text-decoration: underline
}

iframe {
    width: 800px;
    height: 100%;
    border-style: none;
}

.content-block-resume {
    display: none;
    margin-top: 20px
}

.content-block-contact-view-resume, .content-block-contact-view-resume-mobile {
    font-size: 10px;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    background-color: white;
    padding: 2px 4px;
    cursor: pointer;
    color: black;
    border: 1px solid black;
    border-radius: 2px
}

.content-block-contact-view-resume-mobile {
    margin: 12px 0px 0px;
    display: inline-block
}

iframe::-webkit-scrollbar {
    width: 0px
}

.homepage-navigation-title {
    font-size: 1.5em;
    margin-bottom: 20px
}

.homepage-navigation-links {
    position: relative;
    text-align: center;
    margin-top: 45vh;
    opacity: 0;
    animation: slideFade 1s forwards;
    animation-delay: 1.5s
}

@keyframes slideFade {
    0% {bottom: -20px; opacity: 0}
    100% {bottom: 0px; opacity: 1}
}

.homepage-navigation-link {
    margin: 0px 20px;
    background-color: transparent;
    z-index: 500;
    font-size: 18px;
    position: relative;
    height: 60px;
    z-index: 1000;
    display: inline-block;
}

.homepage-navigation-link > a {
    margin-left: 12px;
    position: relative;
    bottom: 20px;
}

.homepage-image {
    position: fixed;
    bottom: -525px;
    right: -100px
}

.profile-image {
    position: fixed;
    bottom: 0px;
    left: 5vw;
    width: 50vw;
    max-width: 600px;
    z-index: 498;
    /* animation: sat 8s infinite */
}

@keyframes sat {
    0%,100% {filter: blur(0px)}
    50% {filter: blur(.1em)}
}

.gif-overlay {
    position: fixed;
    width: 400px;
    top: 60vh;
    right: -4vw;
}

@keyframes letterSpace {
    0% {bottom: 0px; font-weight: normal; /* font-size: 18px; top: 0px */ }
    100% {bottom: 5px; font-weight: bold; /* font-size: 22px; top: 2px */  }
}

.homepage-navigation-link:hover {
    animation: letterSpace .5s forwards
}

.clock-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right
}

.homepage-circle {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 20px;
    right: 120px;
    background-color: red;
    border-radius: 50%
}

.homepage-circle:hover {
    /* animation: grow 1000s forwards */
}

@keyframes grow {
    0% {height: 200px; top: 20px; right: 120px}
    100% {height: 200000px; width: 200000px; top: -25000px; right: -120000px}
}

.hidden-bio {
    display: none
}

.content-block-title {
    font-size: 25px;
}


.content-block-description {
    margin: 20px 0px 10px 0px;
    user-select: text
}

.projects-nav-container {
    padding-left: 0px;
    text-align: left;
    height: 100%;
    border-right: 1px solid black
}

.projects-icon {
    margin-left: 0px
}

.project-titles {
    /* margin-top: 30px; */
}

.project-titles > .project-title > span {
    padding-left: 10px
}

.project-title {
    padding: 20px 0px 5px;
    border-bottom: 1px solid black
}

.project-title-other-projects {
    padding: 20px 0px
}

.project-tags-container {
    padding: 10px 10px
}

.project-tag {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 1px 4px 3px
}

.display-mobile-only {
    display: none
}

.projects-navigation {
    margin-left: 40px
}

.about-container-small {
    display: none
}

@media screen and (max-width: 880px){

    .desktop-only {
        display: none
    }


    .about-container-small {
        display: block
    }


    .top-navigation > a {
        display: inline-block;
        height: 20px;
        font-size: 20px
    }

    .homepage-navigation-container {
        width: 100%;
        border: 0px solid white;
        padding: 0px 10px;
        margin-top: 0px
        /*for homepage*/
    }

    .homepage-navigation-link {
        margin: 10px
    }

    .homepage-hello {
        font-size: 15px
    }

    .homepage-navigation-link > a {
        font-size: 15px;
        margin: 0px
    }

    .homepage-circle {
        display: none
    }
    .title {
        font-size: 20px !important;
        display: none
    }
    .top-navigation {
        border-bottom: 0px solid white;
        margin-top: 20px;
        height: 40px
    }
    .homepage-image {
        width: 300px;
        bottom: -300px;
        right: 0
        
    }
    .hidden-bio {
        display: inline-block;
        margin-top: 20px
    }
    .about-container-small {
        padding: 10px 20px
    }
    .title-icon {
        margin-left: 40%;
    }
    .content-block {
        display: none
    }

    .top-navigation {
        margin-top: 10px;
        text-align: center;
        height: 20px
    }

    .top-navigation-links-container {
        text-align: center
    }

    .gif-overlay {
        display: none
    }

    /* projects page */
    .content-block-projects {
        position: fixed;
        left: 0px;
        top: 44vh;
        width: 100vw;
        height: 60vh;
        display: inline-block;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0px 20px;
        display: none
    }

    .display-mobile-only {
        display: inline-block
    }

    .content-block-projects-inner-container {
        overflow: scroll;
        height: 70vh;
        text-align: left;
        padding: 10px 15px;
        width: 100vw
    }

    .projects-nav-container {
        padding: 0px;
        width: 100vw;
        border-right: 0px solid black
    }
    .mobile-image, .desktop-image {
        width: 100%
    }
    .project-titles {
        margin-top: 5px
    }
    .project-title {
        padding: 3px 0px;
        height: 20px
    }
    .projects-icon {
        margin-left: 0px
    }
    .project-tags-container {
        display: none
    }
}

@media screen and (max-width: 1122px){

}